---
const {width, height} = Astro.props;
const socialLinks = [
	{
		title: 'LinkedIn',
		icon: 'simple-icons:linkedin',
		href: 'https://www.linkedin.com/feed/',

	},
	
	
	{
		title: 'CV',
		icon: 'tabler:file-cv',
		href: '../docs/CV.pdf',

	},
];
---

<div class="icons__container">
    {
        socialLinks.map((data) => (
            <a
                href={data.href}
                target="_blank"
                rel="nofollow noreferrer noopener"
            >
                <iconify-icon
					class=`skill__icon ${data.title}`
                    icon={data.icon}
                    width={width}
                    height={height}
                />
            </a>
        ))
    }
</div>

<style>
	.icons__container {
		display: flex;
   
    /* padding: 1.3rem 4rem; */
    justify-content:left;
    align-items: flex-end;
    gap: 2rem;
    margin: 8px 0;
}
.skill__icon{
	color:#dcd8fc;
}

	.LinkedIn:hover{
		color: #0e76a8;
	}
	
	.CV:hover{
		color:#8e64ff;
	}



</style>