---

import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import SocialIcons from "../components/SocialIcons.astro";
import { menuBlog } from "../components/data/menuData";
const origin = menuBlog;
const name = "Flavie Dussauge";

const { title, pubDate, updatedDate, heroImage} = Astro.props;
type Props = CollectionEntry<"blog">["data"];
import "../styles/global.css"

---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="C:\Users\Flavie\Documents\portfolio_epreuve\public\img\moi.png" />
    <link rel="icon" type="image/png" href="C:\Users\Flavie\Documents\portfolio_epreuve\public\img\moi.png" />
		<meta name="generator" content={Astro.generator} />
		<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://code.iconify.design/iconify-icon/2.1.0/iconify-icon.min.js"></script>

    <title> {title}</title>
  </head>
  <body>
    <header class="header">
      <div class="header__container">
        <h3 class="color__gradiente header__title">
          {name}
      </h3>
         <nav class="links"   tabindex="0.1">
          <ul class="header__list">
            {
              origin.map((data) => (
                <li>
                  <a class="menu__link" href={data.link}>
                    <span class="icon__container" >
                      <iconify-icon
                        class="icons"
                        icon={data.icon}
                        width="20"
                        height="20"
                      />
                      {data.content}
                    </span>
                  </a>
                </li>
              ))
            }
          </ul>
        </nav>
      </div>
    </header>
    

    <main class="w-full flex flex-col justify-center  items-center pt-[13rem]" >
      <div class="text-center" >
        <h1 class="text-center font-extrabold color__gradiente mb-3" >{title}</h1>
        <FormattedDate date={pubDate} clase="text-white text-2xl  " />
      </div>
      <section class="flex flex-col md:max-w-[57%]  max-w-[100%] min-w-[30rem]  px-5 pt-10 pb-[3rem] justify-center w-[80%">
        <slot />
      </section>
    </main>
    <footer>
      <h3 class="color__gradiente header__title">
        {name}
    </h3>
      <aside class="footer__links">
        <ul>
          <li>
            <a
              class="footer__link"
              href="mailto:flavie.dussauge@dijonformation.com"
              ><span
                ><iconify-icon
                  icon="fluent:mail-28-regular"
                  width="27"
                  height="27"
                  style="color: #dcd8fc"></iconify-icon></span
              >flavie.dussauge@dijonformation.com</a
            >
          </li>
          
        </ul>
        <div>
          <SocialIcons width="30" height="30" />
        </div>
      </aside>
    </footer>
  </body>
</html>

<style>
  h1{
    font-size: 3rem;
  }
  h2{
    font-size: 2rem;
    display: flex;
    justify-content: left;

  }
</style>